@model IEnumerable<SimpleTwitter.ReadModel.TweetListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Message
        </th>
        <th>
            Who
        </th>
        <th>
            TimeStamp
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @item.Message
        </td>
        <td>
            @item.Who
        </td>
        <td>
            @String.Format("{0:g}", item.TimeStamp)
        </td>
    </tr>
}

</table>

